<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- User credentials -->
  <%= f.label :name %><br>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label :email %><br>
  <%= f.email_field :email, class: 'form-control' %>
  <%= f.label :password %><br>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
<!-- Hide categories in feed -->
  <% if current_user %>
    <h4 style="border-top: 1px solid #ccc;padding-top: 10px">Categories to hide in the feed</h4>
    <% current_user_categories.each do |category| %>
      <% if current_user.hidden_categories.include? category %>
        <%= check_box_tag "#{category.id}_category".to_sym, 'checked', checked: true %>
        <%= label_tag category.title %><br>
      <% else %>
        <%= check_box_tag "#{category.id}_category".to_sym, 'checked' %>
        <%= label_tag category.title %><br>
      <% end %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
