<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title, t('.title') %><br>
  <% unless @category.title.eql? "Not specified" %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.submit t('.confirm'), class: "btn btn-success" %>
  <% else %>
    <%= f.text_field :title, class: 'form-control', readonly: true %>
    <%= f.submit t('.confirm'), hidden: true %>
  <% end %>
<% end %>
