<p id="notice"><%= notice %></p>

<h3><%= @category.title %></h3><br>

<% @category.articles.each do |article| %>
  <% next unless current_user == article.user %>
  <%= render 'layouts/article_view', object: article %>
<% end %>

<%= link_to 'Edit category', edit_category_path(@category) %> |
<%= link_to 'Home', root_path %>
