<p id="notice"><%= notice %></p>

<h3><%= @category.title %></h3><br>

<% @category.articles.each do |article| %>
 <% next unless current_user == article.user %>
  <div id="article" class="jumbotron">
    <h3><%= link_to article.title, article_path(article) %></h3>
    <p>
    <%= article.content %>
    </p>
  </div>
<% end %>

<%= link_to 'Home', root_path %>
