<header>
  <% if current_user %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <%= link_to 'Home', root_url, class: 'btn btn-default navbar-btn' %>
      <div class="btn-group">
        <a href="#" class="dropdown-toggle btn btn-default navbar-btn" data-toggle="dropdown" aria-expanded="false">Category <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% current_user_categories.each do |category| %>
            <li><%= link_to category.title, category_path(category) %></li>
	  <% end %>
	</ul>
      </div><!-- Category dropdown -->
      <div id="profile_button" class="btn-group">
        <a href="#" class="dropdown-toggle btn btn-default navbar-btn" data-toggle="dropdown" aria-expanded="false">
	  <span class="glyphicon glyphicon-menu-down"></span>
	</a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><%= link_to 'Add article', new_article_path %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        </ul>
      </div><!-- #profile_button-->
    </div>
  </nav>
  <% end %>
</header>
