<!DOCTYPE html>
<html>
<head>
  <title>Memory Akkumulator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <% if current_user %>
      <%= render'layouts/header' %>
      <%= render 'layouts/sidebar' %>
      <section class="col-md-9">
    <% else %>
      <section class="col-xs-12">
      <br>
      <%= render 'shared/locale_switcher' if controller_name.eql? 'welcome_to_app' %>
    <% end %>
    <% if controller.action_name =~ /edit|new/ %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
    <% else %>
    <div>
      <div>
    <% end %>
	<% unless flash.empty? %>
	  <% flash.each do |key, val| %>
	    <% if key.eql? 'notice' %>
	    <div class="alert alert-success fade in"> 
	    <% else %>
	    <div class="alert alert-danger fade in"> 
	    <% end %>
	      <a href="#" class="close" data-dismiss="alert">&times;</a>
	      <p><%= val %></p>
	    </div>
	  <% end %>
	<% end %>
	<%= yield %>
      </div>
    </div>
  </div>
</div>
</section>
<%= render 'layouts/footer' %>
</div>
</body>
</html>
